*,
:after,
:before {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Open Sans, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: #4e4949;
}

.gpd-container {
    width: 90%;
    padding: 25px 0;
    margin: 0 auto;
    max-width: 1200px;
}

.gpd-section {
    display: flex;
    padding: 50px 0;
}

.gpd-image-block {
    height: 200px;
    background-color: #ccc;
    width: auto;
}

.gpd-icon {
    vertical-align: middle;
    fill: currentColor;
    width: 64px;
    height: 64px;
}

.gpd-icon,
.gpd-link,
.gpd-link-box,
.gpd-text {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.gpd-link,
.gpd-link-box,
.gpd-text {
    vertical-align: top;
    padding: 10px;
    max-width: 100%;
}

.gpd-link-box {
    padding: 5px;
}

.gpd-link {
    color: #d983a6;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

h1 {
    font-size: 2rem;
}

b,
i,
img,
label,
small,
span,
u {
    display: inline-block;
}

// .container {
//     width: 90%;
//     max-width: 1200px;
//     margin-left: auto;
//     margin-right: auto;
// }
#getallvalues {
    max-width: 100%;
    margin: 0 50px 0 50px;
}

.card {
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 15px;
}

.form-group,
.form-group-gut {
    min-height: 10px;
    padding-bottom: 7px;
}

.form-group-gut {
    padding-right: 10px;
}

@media (max-width: 768px) {
    .form-group-gut {
        padding-right: 0;
    }
}

.button,
.button-full,
.input,
.input-padding,
.label-group,
.select,
.textarea {
    padding: 7px 10px;
}

.button,
.button-full,
.form,
.input,
.input-radius,
.label-group,
.select,
.textarea {
    border-radius: 3px;
}

.input,
.input-border,
.select,
.textarea {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.svg-link {
    display: inline-block;
}

.link {
    color: #dc659b;
}

.link,
.link-svg {
    text-decoration: none;
}

.link-svg {
    padding: 5px;
    display: inline-block;
    color: inherit;
    opacity: 0.7;
    transition: color 0.25s;
    height: 28px;
    width: 28px;
    margin: 0 7.5px;
}

.link-svg:hover {
    color: #dc659b;
    opacity: 1;
}

.input,
.select,
.textarea {
    height: 36px;
    background-color: #fff;
    width: 100%;
    color: #555;
    display: block;
    font-size: 14px;
}

.input-group {
    height: 36px;
    display: table;
    border-collapse: separate;
}

.input-group .button,
.input-group .button-full,
.input-group .input,
.input-group .select,
.input-group .textarea {
    display: table-cell;
    vertical-align: middle;
}

.textarea {
    height: auto;
}

.label-group {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 0, 0, 0.05);
}

.form {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.label {
    display: inline-block;
    padding: 5px 0;
}

.label-checkbox {
    vertical-align: middle;
    line-height: 2rem;
}

.checkbox,
.checkbox-label,
.radio,
.radio-label {
    margin-right: 10px;
}

.button,
.button-full {
    display: inline-block;
    background-color: #dc659b;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}

.button-full {
    width: 100%;
}

.input-group {
    min-height: 10px;
    display: flex;
}

.input-group :not(:first-child):not(:last-child) {
    border-radius: 0;
}

.input-group :first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group :last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.input-group .input-group-addon,
.input-group .input-group-btn {
    flex: 1 0 auto;
}

.state,
.state-error,
.state-success {
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
}

.state-success {
    display: none;
    background-color: #4ba74b;
}

.state-error {
    display: none;
    background-color: #de5454;
}

.nav-items {
    display: inline-block;
    float: right;
}

.navbar {
    background-color: #222;
    color: #ddd;
    min-height: 50px;
    width: 100%;
}

.navbar-container {
    max-width: 950px;
    margin: 0 auto;
    width: 95%;
}

.navbar-container:after {
    content: "";
    clear: both;
    display: block;
}

.navbar-brand {
    vertical-align: top;
    display: inline-block;
    padding: 5px;
    min-height: 50px;
    min-width: 50px;
    color: inherit;
    text-decoration: none;
}

.navbar-items {
    padding: 10px 0;
    display: block;
    float: right;
    margin: 0;
}

.navbar-item {
    margin: 0;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
}

.burger {
    margin: 10px 0;
    width: 45px;
    padding: 5px 10px;
    display: none;
    float: right;
    cursor: pointer;
}

.burger-line {
    padding: 1px;
    background-color: #fff;
    margin: 5px 0;
}

.quote {
    line-height: 1.5rem;
}

.footer-copyright {
    text-align: center;
    padding-top: 20px;
    opacity: 0.7;
}

.footer-link,
.footer-link-svg,
.header-link,
.header-link-svg {
    padding: 7px 5px;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
    transition: color 0.25s;
}

.footer-link-svg,
.header-link-svg {
    height: 28px;
    width: 28px;
    margin: 0 15px 0 0;
}

.footer-link-svg:hover,
.footer-link:hover,
.header-link-svg:hover,
.header-link:hover {
    color: #dc659b;
    opacity: 1;
}

.footer-details {
    padding: 5px;
    line-height: 1.5rem;
}

.footer-socials {
    padding: 10px 0;
}

.footer-form {
    padding-top: 10px;
}

.header-link-svg {
    margin: 0 5px;
}

.header-socials {
    margin-left: 25px;
    display: inline-block;
    vertical-align: middle;
}

.gdp-row,
.row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 10px;
    min-height: 75px;
    flex-direction: row;
}

@media (max-width: 768px) {
    .gdp-row,
    .row {
        flex-wrap: wrap;
    }
}

.cell,
.cell-gut,
.gdp-cell,
.gdp-cell-gut {
    flex-grow: 1;
    flex-basis: 100%;
    padding: 5px;
}

.cell-gut,
.gdp-cell-gut {
    padding-right: 15px;
}

@media (max-width: 768px) {
    .cell-gut,
    .gdp-cell-gut {
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .burger {
        display: block;
    }
    .nav-items {
        display: none;
        width: 100%;
    }
    .navbar-items {
        width: 100%;
    }
    .navbar-item {
        display: block;
    }
}

[data-anim-type] {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-webkit-keyframes bounce {
    0%,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translateZ(0);
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        transform: translate3d(0, -4px, 0);
    }
}

@keyframes bounce {
    0%,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translateZ(0);
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        transform: translate3d(0, -4px, 0);
    }
}

@-webkit-keyframes flash {
    0%,
    50%,
    to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

@keyframes flash {
    0%,
    50%,
    to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

@-webkit-keyframes pulse {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes pulse {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        transform: scaleX(1);
    }
}

@-webkit-keyframes shake {
    0%,
    to {
        transform: translateZ(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shake {
    0%,
    to {
        transform: translateZ(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0);
    }
}

@-webkit-keyframes tada {
    0% {
        transform: scaleX(1);
    }
    10%,
    20% {
        transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
    }
    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    }
    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes tada {
    0% {
        transform: scaleX(1);
    }
    10%,
    20% {
        transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
    }
    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    }
    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    }
    to {
        transform: scaleX(1);
    }
}

@-webkit-keyframes heartBeat {
    0% {
        transform: scale(1);
    }
    14% {
        transform: scale(1.3);
    }
    28% {
        transform: scale(1);
    }
    42% {
        transform: scale(1.3);
    }
    70% {
        transform: scale(1);
    }
}

@keyframes heartBeat {
    0% {
        transform: scale(1);
    }
    14% {
        transform: scale(1.3);
    }
    28% {
        transform: scale(1);
    }
    42% {
        transform: scale(1.3);
    }
    70% {
        transform: scale(1);
    }
}

@-webkit-keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        transform: scaleX(1);
    }
}

@keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        transform: scaleX(1);
    }
}

@-webkit-keyframes bounceInDown {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }
    75% {
        transform: translate3d(0, -10px, 0);
    }
    90% {
        transform: translate3d(0, 5px, 0);
    }
    to {
        transform: translateZ(0);
    }
}

@keyframes bounceInDown {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }
    75% {
        transform: translate3d(0, -10px, 0);
    }
    90% {
        transform: translate3d(0, 5px, 0);
    }
    to {
        transform: translateZ(0);
    }
}

@-webkit-keyframes bounceInLeft {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }
    75% {
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        transform: translate3d(5px, 0, 0);
    }
    to {
        transform: translateZ(0);
    }
}

@keyframes bounceInLeft {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }
    75% {
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        transform: translate3d(5px, 0, 0);
    }
    to {
        transform: translateZ(0);
    }
}

@-webkit-keyframes bounceInRight {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        transform: translate3d(10px, 0, 0);
    }
    90% {
        transform: translate3d(-5px, 0, 0);
    }
    to {
        transform: translateZ(0);
    }
}

@keyframes bounceInRight {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        transform: translate3d(10px, 0, 0);
    }
    90% {
        transform: translate3d(-5px, 0, 0);
    }
    to {
        transform: translateZ(0);
    }
}

@-webkit-keyframes bounceInUp {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }
    75% {
        transform: translate3d(0, 10px, 0);
    }
    90% {
        transform: translate3d(0, -5px, 0);
    }
    to {
        transform: translateZ(0);
    }
}

@keyframes bounceInUp {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }
    75% {
        transform: translate3d(0, 10px, 0);
    }
    90% {
        transform: translate3d(0, -5px, 0);
    }
    to {
        transform: translateZ(0);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@-webkit-keyframes flipInX {
    0% {
        transform: perspective(400px) rotateX(90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotateX(-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotateX(10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotateX(-5deg);
    }
    to {
        transform: perspective(400px);
    }
}

@keyframes flipInX {
    0% {
        transform: perspective(400px) rotateX(90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotateX(-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotateX(10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotateX(-5deg);
    }
    to {
        transform: perspective(400px);
    }
}

@-webkit-keyframes flipInY {
    0% {
        transform: perspective(400px) rotateY(90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotateY(-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotateY(10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotateY(-5deg);
    }
    to {
        transform: perspective(400px);
    }
}

@keyframes flipInY {
    0% {
        transform: perspective(400px) rotateY(90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotateY(-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotateY(10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotateY(-5deg);
    }
    to {
        transform: perspective(400px);
    }
}

@-webkit-keyframes rotateIn {
    0% {
        transform-origin: center;
        transform: rotate(-200deg);
        opacity: 0;
    }
    to {
        transform-origin: center;
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes rotateIn {
    0% {
        transform-origin: center;
        transform: rotate(-200deg);
        opacity: 0;
    }
    to {
        transform-origin: center;
        transform: translateZ(0);
        opacity: 1;
    }
}

@-webkit-keyframes rotateInDownLeft {
    0% {
        transform-origin: left bottom;
        transform: rotate(-45deg);
        opacity: 0;
    }
    to {
        transform-origin: left bottom;
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes rotateInDownLeft {
    0% {
        transform-origin: left bottom;
        transform: rotate(-45deg);
        opacity: 0;
    }
    to {
        transform-origin: left bottom;
        transform: translateZ(0);
        opacity: 1;
    }
}

@-webkit-keyframes rotateInDownRight {
    0% {
        transform-origin: right bottom;
        transform: rotate(45deg);
        opacity: 0;
    }
    to {
        transform-origin: right bottom;
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes rotateInDownRight {
    0% {
        transform-origin: right bottom;
        transform: rotate(45deg);
        opacity: 0;
    }
    to {
        transform-origin: right bottom;
        transform: translateZ(0);
        opacity: 1;
    }
}

@-webkit-keyframes rotateInUpLeft {
    0% {
        transform-origin: left bottom;
        transform: rotate(45deg);
        opacity: 0;
    }
    to {
        transform-origin: left bottom;
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes rotateInUpLeft {
    0% {
        transform-origin: left bottom;
        transform: rotate(45deg);
        opacity: 0;
    }
    to {
        transform-origin: left bottom;
        transform: translateZ(0);
        opacity: 1;
    }
}

@-webkit-keyframes rotateInUpRight {
    0% {
        transform-origin: right bottom;
        transform: rotate(-90deg);
        opacity: 0;
    }
    to {
        transform-origin: right bottom;
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes rotateInUpRight {
    0% {
        transform-origin: right bottom;
        transform: rotate(-90deg);
        opacity: 0;
    }
    to {
        transform-origin: right bottom;
        transform: translateZ(0);
        opacity: 1;
    }
}

@-webkit-keyframes slideInDown {
    0% {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to {
        transform: translateZ(0);
    }
}

@keyframes slideInDown {
    0% {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to {
        transform: translateZ(0);
    }
}

@-webkit-keyframes slideInLeft {
    0% {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translateZ(0);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translateZ(0);
    }
}

@-webkit-keyframes slideInRight {
    0% {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translateZ(0);
    }
}

@keyframes slideInRight {
    0% {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translateZ(0);
    }
}

@-webkit-keyframes slideInUp {
    0% {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        transform: translateZ(0);
    }
}

@keyframes slideInUp {
    0% {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        transform: translateZ(0);
    }
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

@-webkit-keyframes zoomInDown {
    0% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

@keyframes zoomInDown {
    0% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

@-webkit-keyframes zoomInLeft {
    0% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

@keyframes zoomInLeft {
    0% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

@-webkit-keyframes zoomInRight {
    0% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

@keyframes zoomInRight {
    0% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

@-webkit-keyframes zoomInUp {
    0% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

@keyframes zoomInUp {
    0% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.gpd-clm {
    padding: 5px 0;
}

.gpd-grid {
    min-height: auto;
    padding: 10px 0;
}

.gpd-cnt {
    padding: 0;
}

body {
    background-image: none;
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-color: #ffffff;
    font-size: 22px;
    text-align: left;
}

.gpd-clm {
    padding: 5px 0;
}

.gpd-grid {
    min-height: auto;
    padding: 10px 0;
}

.gpd-cnt {
    padding: 0;
}

.btn.btn-primary {
    background-color: #00789a;
    border: 0 solid rgb(0, 93, 192);
    padding: 6px 20px 6px 20px;
    transition: background-color 0.2s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.header1 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    min-height: 50px;
    color: #444;
    background-color: #fff;
}

.menu-container {
    display: inline-block;
    vertical-align: middle;
}

.menu {
    padding: 3px 0;
    display: block;
    margin: 0;
}

.menu-link {
    margin: 0;
    color: inherit;
    opacity: 0.75;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 15px;
    transition: opacity 0.25s;
}

.menu-link:hover {
    opacity: 1;
}

.burger {
    margin: 5px 0 0;
    width: 45px;
    padding: 5px 10px;
    display: none;
    float: right;
    cursor: pointer;
}

.burger-line-dark {
    padding: 1px;
    background-color: #444;
    margin: 5px 0;
}

#icqj {
    padding: 0;
    margin: 0 auto 0 auto;
    max-width: 100%;
}

#iorl {
    min-height: 10px;
    padding: 3px 0 3px 0;
}

#iu5f {
    min-height: 10px;
    flex-basis: 40%;
    padding: 5px 5px 5px 0;
}

#imidj {
    min-height: 0;
    text-align: right;
    padding: 5px 0 5px 5px;
}

#iiarl {
    color: black;
    width: 190px;
}

#i2rxk {
    padding: 5px 5px 5px 0;
}

.gpd-divider {
    height: 3px;
    margin: 10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.05);
}

#ibvnf {
    margin: 0 0 0 0;
    height: 1px;
    background-color: rgba(224, 224, 224, 0.59);
}

#i4igt {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    padding: 10px 30px 10px 30px;
}

#iu695 {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    padding: 10px 30px 10px 30px;
}

#i0sgh {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    padding: 10px 30px 10px 30px;
}

#id63f {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 0 10px 30px;
    color: #000000;
}

#irxtbk {
    background-image: radial-gradient(circle at top, #403f56 0%, #263044 100%);
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    padding: 50px 0 0 0;
}

#id6huv {
    width: 100%;
    max-width: 100%;
    margin: 0 50px 0 50px;
}

#itw981 {
    padding: 0 0 0 0;
}

#ix930x {
    color: black;
    width: 190px;
}

#im49kv {
    padding: 0 0 0 0;
    color: #ebebeb;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 0 100px;
    line-height: 32px;
}

#ioy1ll {
    padding: 0 0 0 0;
    color: #ebebeb;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 0 0;
    text-align: right;
    width: 100%;
}

#iivdot {
    text-align: right;
    white-space: normal;
}

#i6mfbk {
    padding: 0 0 0 0;
    color: #ebebeb;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 0 120px;
    line-height: 32px;
}

#i8en9g {
    padding: 0 0 0 0;
    color: #ebebeb;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 0 0;
    text-transform: uppercase;
}

#iztyix {
    margin: 40px 0 0 0;
}

#i5bz1g {
    padding: 0 0 0 0;
    color: #ebebeb;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 25px 0 0 0;
}

#ij6c7h {
    text-align: center;
}

#iwlt8m {
    padding: 50px 0 40px 0;
}

#igo4ib {
    width: 100%;
    max-width: 100%;
    margin: 0 50px 0 50px;
}

#i398q {
    background-color: #34e0a1;
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-weight: 700;
    border-radius: 5px 5px 5px 5px;
    font-size: 18px;
    padding: 9px 30px 9px 30px;
    margin: 15px 0 0 0;
}

#izx6w {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    flex-basis: 33%;
}

#iezck {
    padding: 0 0 0 0;
    flex-basis: 0;
    background-color: #eaeaea;
    margin: 0 30px 0 30px;
}

#ielsf {
    flex-direction: column;
    padding: 0 0 0 0;
}

#i7pe1 {
    border: 1.5px dashed #9facbf;
    padding: 22px 0 25px 0;
}

#ivyvi {
    flex-direction: column;
}

#ih3jp {
    text-align: center;
}

#ihnxi {
    color: black;
    width: 26px;
}

#ixitb {
    text-align: center;
    margin: 13px 0 0 0;
}

#izr8j {
    text-align: center;
    color: #828a96;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    padding: 0 0 0 0;
    font-weight: 500;
}

#i62jb {
    text-align: center;
    padding: 0 0 0 0;
    margin: 20px 0 0 0;
}

#ix6bp {
    background-color: #003171;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    padding: 8px 22px 8px 22px;
    border-radius: 9px 9px 9px 9px;
}

#idat4 {
    padding: 0 0 0 0;
}

#i0rxe {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

#i40kb {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 0 3px;
    color: #003171;
}

#ixucg {
    padding: 0 0 0 0;
}

#ivnf7 {
    padding: 0 0 0 0;
}

#i55w9 {
    width: 100%;
    border: 1.2px solid #c8cfe3;
    height: 38px;
    padding: 0 0 0 7px;
    margin: 0 0 0 0;
    color: #003171;
}

#ivljx {
    flex-direction: column;
    padding: 0 0 0 0;
    margin: -5px 0 0 0;
}

#ix8lk {
    padding: 0 0 0 0;
}

#iro7q {
    padding: 0 0 0 0;
    width: 91%;
    margin: 0 auto 0 auto;
}

#imz8o2 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    padding: 0 0 0 0;
}

#id14fh {
    padding: 0 0 0 0;
}

#ibmaqq {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

#i7l2lj {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 0 3px;
    color: #003171;
}

#i8lq9q {
    height: 38px;
    color: #003171;
}

#iwawdc {
    padding: 0 0 0 0;
}

#i1bkl9 {
    padding: 0 0 0 0;
}

#icdscp {
    padding: 0 0 0 0;
    width: 91%;
    margin: 0 auto 0 0;
}

#ird38h {
    padding: 0 0 0 0;
}

#ikn08t {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

#i5g54h {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 0 3px;
    color: #003171;
}

#inr5ra {
    height: 38px;
    color: #003171;
}

#irny2o {
    padding: 0 0 0 0;
}

#ik8vzb {
    padding: 0 0 0 0;
}

#i3rvnb {
    padding: 0 0 0 0;
    width: 91%;
    // margin: 0 auto 0 auto;
}

#ilcveb {
    padding: 0 0 0 0;
}

#ibo3a4 {
    padding: 0 0 0 0;
}

#i4eiqh {
    padding: 0 0 0 0;
    margin: 10px 0 0 0;
}

#ifznli {
    padding: 0 0 0 0;
    flex-direction: column;
}

#iv733j {
    padding: 0 0 0 0;
}

#ij4odf {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

#i987cy {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 0 3px;
    color: #003171;
}

#i65ich {
    height: 38px;
    color: #003171;
}

#ir5432 {
    padding: 0 0 0 0;
}

#icibmi {
    padding: 0 0 0 0;
}

#ihevob {
    padding: 0 0 0 0;
    width: 91%;
    margin: 0 auto 0 0;
}

#i05933 {
    padding: 0 0 0 0;
}

#i2xo3i {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

#ibszmw {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 0 3px;
    color: #003171;
}

#idagsl {
    height: 38px;
    color: #003171;
}

#ieqt5r {
    padding: 0 0 0 0;
}

#ingjl7 {
    padding: 0 0 0 0;
}

#i3pwq8 {
    padding: 0 0 0 0;
    width: 91%;
    margin: 0 auto 0 auto;
}

#irys5d {
    padding: 0 0 0 0;
}

#iol6pp {
    padding: 0 0 0 0;
}

#id4dyr {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#if2jmz {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

#igo4z8 {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 0 3px;
    color: #003171;
}

#imdfcl {
    height: 38px;
    color: #003171;
}

#i4jzp2 {
    padding: 0 0 0 0;
}

#ijpw2h {
    padding: 0 0 0 0;
}

#i6lwh9 {
    padding: 0 0 0 0;
    width: 91%;
    margin: 0 auto 0 0;
}

#idl6ds {
    padding: 0 0 0 0;
}

#ir60ay {
    padding: 0 0 0 0;
}

#ib9bev {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#ixg01f {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

#inf0rr {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 0 3px;
    color: #003171;
}

#i7rzsi {
    width: 100%;
    border: 1.2px solid #c8cfe3;
    height: 38px;
    padding: 0 0 0 7px;
    margin: 0 0 0 0;
    color: #003171;
}

#isvt2k {
    padding: 0 0 0 0;
}

#in0cpq {
    padding: 0 0 0 0;
}

#i81vmx {
    padding: 0 0 0 0;
    width: 91%;
    margin: 0 auto 0 0;
}

#iqcft7 {
    padding: 0 0 0 0;
}

#ib0skg {
    padding: 0 0 0 0;
}

#iqnp7l {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#i4hrlv {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

#ivzmrk {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 0 3px;
    color: #003171;
}

#i0ilof {
    width: 100%;
    border: 1.2px solid #c8cfe3;
    height: 38px;
    padding: 0 0 0 7px;
    margin: 0 0 0 0;
    color: #003171;
}

#impcqt {
    padding: 0 0 0 0;
}

#ibrf0c {
    padding: 0 0 0 0;
}

#i2e1xm {
    padding: 0 0 0 0;
    width: 91%;
    margin: 0 auto 0 auto;
}

#ibfqkg {
    padding: 0 0 0 0;
}

#iwb16w {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

#ic3e29 {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 0 3px;
    color: #003171;
}

#i8idt2 {
    width: 100%;
    border: 1.2px solid #c8cfe3;
    height: 38px;
    padding: 0 0 0 7px;
    margin: 0 0 0 0;
    color: #003171;
}

#i0mt9f {
    padding: 0 0 0 0;
}

#iahqyy {
    padding: 0 0 0 0;
}

#ihiw27 {
    padding: 0 0 0 0;
    width: 91%;
    margin: 0 auto 0 0;
}

#iuh40b {
    padding: 0 0 0 0;
}

#i2hqjx {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

#iwu6e6 {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 0 3px;
    color: #003171;
}

#i83a7y {
    width: 100%;
    border: 1.2px solid #c8cfe3;
    height: 38px;
    padding: 0 0 0 7px;
    margin: 0 0 0 0;
    color: #003171;
}

#i8g70t {
    padding: 0 0 0 0;
}

#ianyum {
    padding: 0 0 0 0;
}

#igfbeo {
    padding: 0 0 0 0;
    width: 91%;
    margin: 0 auto 0 auto;
}

#ijv2c4 {
    padding: 0 0 0 0;
}

#i1rooc {
    padding: 0 0 0 0;
}

#i2p2v8 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#iropeo {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

#i0zwq5 {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 0 3px;
    color: #003171;
}

#i8rdjg {
    width: 100%;
    border: 1.2px solid #c8cfe3;
    height: 38px;
    padding: 0 0 0 7px;
    margin: 0 0 0 0;
    color: #003171;
}

#itl3a4 {
    padding: 0 0 0 0;
}

#ibjryx {
    padding: 0 0 0 0;
}

#iesxwg {
    padding: 0 0 0 0;
    width: 91%;
    margin: 0 auto 0 0;
}

#i4a5fp {
    padding: 0 0 0 0;
}

#icd60j {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

#ikzk06 {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 0 3px;
    color: #003171;
}

#i5zmmx {
    width: 100%;
    border: 1.2px solid #c8cfe3;
    height: 38px;
    padding: 0 0 0 7px;
    margin: 0 0 0 0;
    color: #003171;
}

#i6b5vg {
    padding: 0 0 0 0;
}

#iy904j {
    padding: 0 0 0 0;
}

#i2wxpf {
    padding: 0 0 0 0;
    width: 91%;
    margin: 0 auto 0 auto;
}

#i3xq6h {
    padding: 0 0 0 0;
}

#ixwvk9 {
    padding: 0 0 0 0;
}

#iam3ox {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#ir5avb {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

#i9m47j {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 0 3px;
    color: #003171;
}

#ih8owg {
    width: 100%;
    border: 1.2px solid #c8cfe3;
    height: 38px;
    padding: 0 0 0 7px;
    margin: 0 0 0 0;
    color: #003171;
}

#i71tf1 {
    padding: 0 0 0 0;
}

#iiyit7 {
    padding: 0 0 0 0;
}

#ibx0mt {
    padding: 0 0 0 0;
    width: 91%;
    margin: 0 auto 0 0;
}

#iy54js {
    padding: 0 0 0 0;
}

#i7jym9 {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

#ixsa3h {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 0 3px;
    color: #003171;
}

#ib7fsi {
    width: 100%;
    border: 1.2px solid #c8cfe3;
    height: 38px;
    padding: 0 0 0 7px;
    margin: 0 0 0 0;
    color: #003171;
}

#iiv597 {
    padding: 0 0 0 0;
}

#ikczb4 {
    padding: 0 0 0 0;
}

#ikuoj2 {
    padding: 0 0 0 0;
    width: 91%;
    margin: 0 auto 0 auto;
}

#i7qawc {
    padding: 0 0 0 0;
}

#iwbwn2 {
    padding: 0 0 0 0;
}

#i0ypb6 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#izs79k {
    padding: 10px 50px 0 0;
}

#i69mq3 {
    padding: 0 0 0 0;
    text-align: right;
}

#ioh83n {
    text-align: right;
    justify-content: flex-end;
    padding: 0 0 10px 0;
}

#iku9z9 {
    flex: 0 1 auto;
    margin: 0 10px 0 0;
}

#i96wka {
    background-color: #9297a7;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 20px 10px 20px;
}

#ievgxl {
    flex: 0 1 auto;
    margin: 0 0 0 10px;
}

#i6nkfw {
    background-color: #5db18c;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 20px 10px 20px;
}

#cancel {
    background-color: #676469;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 20px 10px 20px;
}

@media (max-width: 768px) {
    .burger {
        display: block;
    }
    .menu-container {
        display: none;
        width: 100%;
    }
    .menu {
        width: 100%;
    }
    .menu-link {
        display: block;
    }
    #i2rxk {
        max-width: 35%;
    }
    #imidj {
        display: inherit;
    }
    #i937c {
        border-radius: 1px 1px 1px 1px;
    }
    #iorl {
        margin: 0 0 0;
    }
    #icqj {
        margin: 0 auto 0 auto;
        width: 100%;
    }
    #ij5fhj {
        text-align: center;
    }
    #i5bz1g {
        width: 100%;
    }
    #ij7eeh {
        flex-basis: 50%;
        margin: 40px 0 0 0;
    }
    #iivdot {
        flex-basis: 50%;
        margin: 40px 0 0 0;
    }
    #im49kv {
        margin: 0 0 0 0;
    }
}

@media (max-width: 415px) {
    #iiarl {
        width: 170px;
    }
    #i2rxk {
        max-width: 80%;
    }
    #icqj {
        margin: 0 0 0 0;
        width: 100%;
    }
    #i6mfbk {
        margin: 0 0 0 90px;
        text-align: center;
    }
    #im49kv {
        text-align: center;
    }
    #ij7eeh {
        text-align: center;
    }
    #iivdot {
        text-align: center;
    }
    #ioy1ll {
        text-align: center;
    }
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
#Add_row {
    white-space: nowrap;
    background-color: #1647af;
    color: #ffffff;
    padding: 8px 20px 8px 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

#Entity_heading {
    text-align: left;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: #302C5E;
    white-space: nowrap;
}

#create_btn {
    background-color: #5DB18C;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 20px 10px 20px;
}

#cancel_btn {
    background-color: #9297A7;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 20px 10px 20px;
}

#error_msg {
    font-family: Montserrat, sans-serif;
    color: #ec4629;
    text-align: center;
    margin-top: 5%;
}