#i5oq1 {
    min-height: 100vh;
}

#ijh0h {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 30px 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#idlpi {
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    background-attachment: scroll;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
}

#i0vkz {
    flex-basis: 64.6%;
    height: 200px;
}

#ial4t {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    flex-basis: 82%;
}

#itdvm {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    font-size: 35px;
    font-weight: 300;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#injea {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-weight: 300;
    font-size: 19px;
    letter-spacing: 2px;
    color: rgba(85, 85, 85, 0.5);
}

#imf4i {
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    flex-direction: row;
}

#i047o {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    max-width: 750px;
    align-self: flex-start;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

#in3a6 {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    flex-basis: 82%;
}

#iag3f {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 30px 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#itk1x {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    max-width: 750px;
    align-self: flex-start;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

#i2wfh {
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    flex-direction: row;
}

#i71ii {
    min-height: 64px;
}