<h2 class="screen-align">Sefscreen</h2>
<div id="margin" class="">
    <section id="i5oq1" class="gpd-section">
        <div id="ivk7p" class="gpd-container">
            <div id="imf4i" class="gdp-row">
                <div id="i047o" class="cell">
                    <div id="ijh0h" class="row">
                        <div id="i0vkz" class="cell">
                            <img id="idlpi" src="{{Image}}" class="gpd-image-block" />
                        </div>
                        <div id="ial4t" class="cell">
                            
<h1 id="injea" class="gpd-header">
Welcome
                            </h1>

                            
<h2 id="itdvm" class="gpd-header">
{{ firstName }} {{ lastName }}
                            </h2>

                        </div>
                    </div>
                </div>
            </div>
            <div id="i2wfh" class="gdp-row">
                <div id="itk1x" class="cell">
                    <div id="iag3f" class="row">
                        <div id="in3a6" class="cell"></div>
                    </div>
                </div>
            </div>
            <div id="i71ii" class="gdp-row gpd-grid">
                <div id="template-idwcd" class="cell gpd-clm"></div>
                <div id="template-iyxvw" class="cell gpd-clm"></div>
                <div id="template-iicbo" class="cell gpd-clm"></div>
            </div>
        </div>
    </section>
</div>