.top_align {
    // height: 80%;
    padding-top: 10px;
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom: 6%;
}

.invalid-feedback {
    display: unset !important;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 90%;
    font-weight: bold;
    color: #dc3545;
}

.table_align {
    width: 100%;
    height: 100%;
    padding: 1%;
}

.label {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}